<style>


   
   .um{
    
      border:  solid red;
      
     
    }
    
    
    .p1{
      margin-top:2px;
      border: 2px solid green;
      width:min-conte
      
    }
    

    

</style>


    <div class="um">
      
      <p class="p1">o rato roeu a roupa do rei de romamasmams</p>
       <p class="p1">o rato roeu a roupa do rei de romamasmams</p>
      
    </div>
